@page
@model IndexModel
@{
    ViewData["Title"] = "Kde Domov Můj";
}
    <h1 class="display-4">Bohouš</h1>
    <p>Má rád vlaky</p>
<button href="/OdRick">Odstranit rickrolly</button>

    <button>Satysfajnk batn(cps:0)</button>
    <a href="https://youtu.be/dQw4w9WgXcQ">Můj Discord server</a><BR>
<img src="https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif"/><br><br><br><br>
<a href="/OdRick"> <button >Odstranit rickrolly doopravdy</button></a>



