@page
@model MyApp.Namespace.OdRickModel
@{


}
@{string rick = "https://youtu.be/dQw4w9WgXcQ";}
<div class="align-content-center ">
<a href="/Privacy"><button >Odstranit rickrolly</button></a>

</div>