@page
@model MyApp.Namespace.PagesModel
@{
    <h1>Odkazy</h1>

<div class="text-center">
    <p></p>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>FotoAlbum</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>Free Amongus pro PC</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>Video o vlaku co je private</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>Marley premiera videi o 2 dny drive</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>Free robuxy</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>Novy pocitac zcela zdarma</button></a>ꞏ<br>
<a href="https://youtu.be/dQw4w9WgXcQ"><button>IPhone 12 zdarma</button></a>ꞏ<br>




</div>


}



