@page
@model PrivacyModel
@{
    ViewData["Title"] = "Já tě varoval";
}
<h1>@ViewData["Title"]</h1>

<br />
<link rel="icon" href="https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif">
<img src="https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif"/>
<script>
 myTimeout = setTimeout(presmer, 500);
 function presmer(){
  location.replace("https://youtu.be/dQw4w9WgXcQ")
 }
</script> 